/* APPLY PAGE RESETS */

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* STYLING */
body {
    font-family: "VT323";
    background-color: #FFF2E2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
     
}

/********************/
/* REUSABLE CLASSES */
/********************/

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    min-width: 100%;
}

.btn {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    font-family: "VT323";
    font-size: 1.6rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #FFD700;
    
}

/********************/
/* GAME CONTAINER   */
/********************/

.game-container {
    display: flex;
    min-width: 96rem;
    max-height: 96rem;
    background-color: crimson;
    border-top-left-radius:  1.6rem;
    border-top-right-radius: 1.6rem;
    flex-direction: column;
    position: relative;
}

/********************/
/* GAME HEADER      */
/********************/

.game-header {
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.game-desc {
    font-family: Verdana;
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFD700;
}

.game-title {
    font-size: 6.4rem;
    color: #FFD700;
}

/********************/
/* SKETCH SPACE     */
/********************/

.game-sketch {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    height: 50rem;
    background-color: lightgrey;
    margin: 0 auto;
    border-radius: 1.6rem;
    overflow: hidden;
}

/********************/
/* GAME FOOTER      */
/********************/

.game-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 3.2rem;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.slider-label {
    font-size: 2.4rem;
    color: #FFD700;
}

.slider {
    -webkit-appearance: none;
    width: 20rem;
    height: 1.6rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
  }


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.4rem;
    height: 2.4rem;
    background: #FFD700;
    cursor: pointer;
}

/********************/
/* GAME SKETCH      */
/********************/


.pixel-hover {
    background-color: black;
}

/********************/
/* GAME COLOURS     */
/********************/

.game-colours {
    position: absolute;
    bottom: -56px;
    z-index: -1;
    min-width: 960px;
    background-color: yellow;
    padding: 1.6rem;
    display: none;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    gap: 1.6rem;
    align-items: center;
    
    
}

@keyframes settingsSlideDown {
    0% {
        opacity: 1;
        transform: translateY(-56px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes settingsSlideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    
    100% {
        opacity: 1;
        transform: translateY(-56px);
    }
    
}

.clr-title {
    font-size: 2.4rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.clr-btn {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    opacity: 0.7;
}

.clr-btn:hover {
    opacity: 1;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}

.btn-blue {
    background-color: blue;
}

.btn-yellow {
    background-color: yellow;
}

.btn-purple {
    background-color: purple;
}

.btn-black {
    background-color: black;
    opacity: 1;
}